<form id="create">
<input type="text" name="title" placeholder="Title" value="Untitled ({{index}})"></input>
<textarea name="note" placeholder="Notes" maxlength="20000"></textarea>
<input type="submit" value="Save">
</form>
            <div>
                <a href="/">Return to Homepage</a>
                </div>