<h1>Note: <span id='note_title'>{{title}}</span></h1>
<form id="edit">
<textarea name="note" placeholder="Notes" maxlength="20000">{{notes}}</textarea>
<input type="submit" value="Save">
</form>
            <div>
                <a href="/">Return to Homepage</a>
                </div>