body, html {
    cursor:none;
    margin: 0;
    font: normal 75% Arial, Helvetica, sans-serif;
	/* The image used */
    background-image: url('../images/background.gif');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size:40px;
}

a {
    cursor: pointer;
}

.pointer {
    cursor:pointer;
}
   
.trail { /* className for the trail elements */
    position: absolute;
    height: 6px; width: 6px;
    border-radius: 3px;
    background: white;
    opacity: 0.3;
    pointer-events: none;
  }

header {
	background-color: #242424;
    font-family: Arial;
    padding-left: 15px;
	padding-top: 10px;
    padding-bottom: 10px;
    font-size:40px;
	display:none;
    color: white;
    font-weight:700;
}

.titles{
	background-color:rgba(230,230,230,0.7);
	border-left:10px solid black;
    padding-left: 10px;
    font-size:40px;
    border-bottom: 10px solid white;
    padding-top: 10px;
}

.content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0px;
    font-size:20px;
    display:none;
}

.content-container {
    background-color: rgba(0,0,0,0.7);
    bottom: 20px;
    right: 20px;
    color: white;
    padding: 5px 5px 5px;
}